# Node
node_modules/
build/

# Go
bin/
pkg/

# Environment files
./backend/util/random_symmetric_key.go
./frontend/.env
backend/app2.env
.github/workflows/deploy.yml

./frontend/src/first.txt
./frontend/src/end.txt

*.txt

websocket/